.paginator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  gap: 4px;
}

.selectedPage {
  font-weight: bold;
  border: 2px solid #93a7f4;
  border-radius: 5px;
  /* background-color: rgb(168, 173, 188); */
  padding: 3px 10px;
  margin: 5px;
}
.item {
  cursor: pointer;
  text-decoration: none;
  background-color: #3b5998;
  color: white;
  padding: 3px 10px;
}
.item:hover {
  text-decoration: underline;
  box-shadow: 0 5px 0 darkblue;
  background-color: #0631ce;
  color: white;
  cursor: pointer;
}

/* span:hover {
  text-decoration: underline;
  color: red;
}

.selectedPage:hover {
  text-decoration: none;
} */
/* 
.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.page-item {
  display: inline;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #5cb85c;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.page-link:focus,
.page-link:hover {
  color: #3d8b3d;
  background-color: #eceeef;
  border-color: #ddd;
} */
