.container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}
.item {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.itemName {
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 12%;
}

.itemStatus {
  position: absolute;
  top: 30%;
  left: 12%;
  background: #ccc;
}

.itemBtnUnfollow {
  position: absolute;
  top: 70%;
  left: 12%;
  padding: 5px;
  height: 30px;
  width: 90px;
  background-color: white;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: 2px solid #956562;
}
.itemBtnUnfollow:hover {
  position: absolute;
  top: 70%;
  left: 12%;
  color: whitesmoke;
  background-color: #9b3831;
  cursor: pointer;
}

.itemBtnFollow {
  height: 30px;
  width: 90px;
  position: absolute;
  top: 70%;
  left: 12%;
  padding: 5px;
  background-color: white;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: 2px solid #8b9dc3;
}
.itemBtnFollow:hover {
  position: absolute;
  top: 70%;
  left: 12%;
  color: whitesmoke;
  background-color: #3b5998;
  cursor: pointer;
}

.itemBtnFollow:disabled {
  position: absolute;
  top: 70%;
  left: 12%;
  background: #a6f9a7;
  color: whitesmoke;
  border: 2px solid #3b5998;
  cursor: wait;
}
.itemBtnUnfollow:disabled {
  position: absolute;
  top: 70%;
  left: 12%;
  background: #ea877f;
  color: whitesmoke;
  border: 2px solid #ea877f;
  cursor: wait;
}

.userPhoto {
  max-width: 100px;
}
/* 
.selectedPage {
    font-weight: bold;
} */
