.header {
  grid-area: h;
  background-color: #3b5998;
}

.header img {
  width: 15%;
}

.login {
  float: right;
}

.login a {
  color: whitesmoke;
}

.hello {
  color: bisque;
}

.logout {
  text-align: center;
}
